<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplikasi_Project_Apotek_Kimia_Farma.Properties.Settings.UnivConnectionString"
            connectionString="Data Source=FERROX\SQLEXPRESS;Initial Catalog=Univ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Aplikasi_Project_Apotek_Kimia_Farma.Properties.Settings.UAS_VisprogConnectionString"
            connectionString="Data Source=FERROX\SQLEXPRESS;Initial Catalog=UAS_Visprog;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>